



section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 
   
}

.form-box{
background-color: #fff;
padding: 50px;
border-radius: 20px;
font-weight: 400px;
font-size: 20px;
width: 1000px;



}
.inputbox {
    position: relative;
    margin: 20px ;
   
   
}

.inputbox  input{
    width: 100%;
    border-radius: 40px;
    padding: 30px 20px 20px;
    border: 2px solid  rgba(245, 245, 245, 0.712);
    background-color: #fff;
    outline: none;
}

.inputbox  input:placeholder-shown{
    font-size: 20px;
    color:rgb(24, 24, 46); 
}



.inputbox  select{
    width: 50%;
    border-radius: 40px;;
    padding: 30px 20px 20px;
    border: 2px solid rgba(245, 245, 245, 0.712);
    background-color: #fff;
}

 label {
    color: rgba(74, 74, 133, 0.808);
    display: flex;
   
}

button{
    margin-left: 20px;
    width: 20%;
    border-radius: 30px;
    padding: 10px 20px 20px;
    background-color: #3C38E5;
    font-size: 16px;
   font-style: unset;
    color: #fff;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.liens{
    margin-left: 80px;  
}

.lien{
    margin-left: 300px;  
    margin-top: -20px;
}

@media screen and (max-width: 952px){
    .form-box{
        background-color: #fff;
        padding: 25px;
        border-radius: 20px;
        font-weight: 200px;
        font-size: 20px;
        width: 250px;
        
        
        
        }
        .inputbox {
            position: relative;
            margin: 10px ;
           
           
        }


        .inputbox  select{
            width: 280px;
            border-radius: 40px;;
            padding: 30px 20px 20px;
            border: 2px solid rgba(245, 245, 245, 0.712);
            background-color: #fff;
        }

        .liens{
            display: block; 
            margin-left: 8px;
        }

        .lien{
            display: block; 
            margin-left: 55px;  
        }

        button{
            margin-left: 20px;
            margin: 10px;
            width: 200px;
            border-radius: 30px;
            padding: 10px 20px 20px;
            background-color: #3C38E5;
            font-size: 16px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            outline: none;
        }

}